<div class="navbar-weesound">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-weesound-brand" do %>
    <%= image_tag "weesound.svg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
   <% if user_signed_in? %>
      <%= link_to "log out",  destroy_user_session_path, :method => :delete %>
      <% else %>
      <a href="/users/sign_in">Log in</a>
  <% end %>
    <!-- Profile picture with dropdown list -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <p class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> </p>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Log Out</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <% if user_signed_in? %>
          <% if current_user.rooms.size > 0 %>

            <li><%= link_to "My room", rooms_path %>
            <li><%= link_to "log out",  destroy_user_session_path, :method => :delete %></li>
            <% else %></li>
            <%= link_to "log out",  destroy_user_session_path, :method => :delete %>

            <%= link_to "log out",  destroy_user_session_path, :method => :delete %>
            <%= link_to "My room", rooms_path %>
            <% else %>
            <%= link_to "log out",  destroy_user_session_path, :method => :delete %>

          <% end%>
        <% else %>
            <a href="/users/sign_in">Log in</a>
        <% end %>
      </ul>
    </div>
  </div>
</div>
