<% content_for :body_id, "without-navbar" %>


<div class="container-show" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.2) 0%, rgba(250,250,250,0.2) 50%), url('<%= cl_image_path @room.photo_url%>')">
  <div class="navbar-show">
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <div class="share dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"><i class="fa fa-share-alt" aria-hidden="true"></i>
        </div>
        <ul class="dropdown-menu  navbar-weesound-dropdown-menu">
          <li>
            <!-- TODO: Make it suitable for other influencers, this works only for Meryl  -->
            <%= social_share_button_tag("Hello guys, join me for a live music session!!!   ", :url => custom_room_url(username: "weesound_meryl", room_slug: @room.slug), via: "Weesound_Meryl") %></li>
        </ul>
      </div>
      <% #if user_signed_in? %>
        <% #if @room.user == current_user %>
            <!-- <div class="logo_user"> <i class="fa fa-user-circle-o" aria-hidden="true"></i></div> -->
        <%# end %>
      <% #end %>
    </div>
    <div class="logo_wee">
      <%= link_to root_path, class: "navbar-weesound-logo" do %>
        <%= image_tag "weesound.svg" %>
      <% end %>

    </div>


    <div class="playlist-icone"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
  </div>

  <div class="container-central">
    <div class="pined-message">
      <div id= "text-width">
         <span class="quotes">"</span> <%= @room.custom_message %> <span class="quotes">"</span>  - Méryl
      </div>
      <!-- <i class="fa fa-play button_player" aria-hidden="true"></i>
      <i class="fa fa-pause button_player" aria-hidden="true"></i> -->
    </div>
    <div class="all-messages">
      <% @messages.each do |message| %>
      <%= render "messages/message", message: message %>
      <% end %>
    </div>
  </div>

  <div class="footer-player">

    <div class="chat-form">
      <% if current_user %>
        <%= simple_form_for [@room, @message], :html => {:class => 'my_form'}, remote: true do |f| %>
          <%= f.input :content, input_html: { class: 'chat-box' }, placeholder: "type your message", label: false, required: true %>
          <%= f.button :submit, "send", class: "disparition"%>
        <% end %>
      <% else %>
      <div class="signin-chat"> <%= link_to "Sign in to chat", new_user_session_path %> </div>
      <% end %>
    </div>

    <div class="player_audio">
      <div class="track-playing text-center">


      </div>

      <div class="player">
        <!-- wavesound bars -->
        <i class="fa fa-play button_player" aria-hidden="true"></i>
        <!-- <i class="fa fa-pause button_player" aria-hidden="true"></i> -->
        <div id="bars">
          <% (1..70).each do |i| %>
            <div class="bar"></div>
          <% end %>
        </div>
      </div>
    <!-- end of wavesound bars code  -->

      <div id="player" style="display:none;"></div>

    </div>
  </div>
</div>

<div class="playlist-container">
  <div class="playlist">
    <h3>The playlist</h3>
    <% @tracks.each do |track| %>
    <div class="song">
      <div class="title"><%= track.title.capitalize %></div>
      <div class="artist"><%= track.artist.capitalize %></div>
    </div>
    <% end %>
  </div>
</div>


<% content_for :after_js do %>
  <script>

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      height: '360',
      width: '640',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }


//Nos vidéos
  var videos =[];
  <% @tracks.each do |track|  %>
  videos.push('<%="#{track.youtubeid}"%>');
  <% end %>
  var index = 0;

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.cueVideoById({
    <% if  @room.user == current_user %>
      videoId: videos[index],
    <% else %>
      videoId: '<%= "#{@room.current_track }"%>',
      startSeconds: <%= @room.current_track_time  %> +5.00,
    <% end %>
    });
    event.target.playVideo();
    if (index == 0){
      index++;
    }

     // Update the controls on load
    // updateTimerDisplay();
    // updateProgressBar();
  }

  // setInterval(function () {
  //   updateProgressBar();
  //   // updateTimerDisplay();
  // }, 1000);

// function updateTimerDisplay(){
// // Update current time text display.
// $('#current-time').text(formatTime( player.getCurrentTime() ));
// $('#duration').text(formatTime( player.getDuration() ));
// }


  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.

  function onPlayerStateChange(event) {
    if (event.data === YT.PlayerState.ENDED) {
      console.log(index);
      if (index <= videos.length - 1) {

        event.target.loadVideoById({
          videoId: videos[index],
        });
        index++;
      }
    }
  }

  // 1. Code Roselyne pour le play, le pause et la progress bar
  const play = document.querySelector(".fa-play");
  // const pause = document.querySelector(".fa-pause");
  // const progress = document.querySelector("#progress-bar");
  function playMusic (){
    player.playVideo();
  };
 // function pauseMusic (){
 //    player.pauseVideo();
 //  };

  // function updateProgressBar(){
  //   if (typeof player.getCurrentTime() != 'undefined' && typeof player.getDuration() != 'undefined' && player.getCurrentTime() != 0 && player.getDuration() != 0 ){
  //     progress.value = ((player.getCurrentTime() / player.getDuration()) * 100);
  //  }
  // };

  play.addEventListener("click", playMusic);
  // pause.addEventListener("click", pauseMusic);



//2- code elo drop down playlist
  var chevron_down = document.querySelector(".fa-chevron-down");
  var playlist = document.querySelector('.playlist-container');
  var playerAudio = document.querySelector('.player_audio');

  chevron_down.addEventListener('click', down);
  playerAudio.addEventListener('click', up);


  function down() {
  playlist.style.top = '0px';
};

  function up() {
  playlist.style.top = '-1045px';
};

var objDiv = document.querySelector(".all-messages");
objDiv.scrollTop = objDiv.scrollHeight;


//3- Code Fabienne pour le stream
const updateTrack = (event) => {

    $.rails.ajax({
      url: '<%= room_path(@room) %>',
      type: "PATCH",
      data: {
        room: { current_track: player.getVideoUrl(), current_track_time: player.getCurrentTime(), current_track_title: player.getVideoData().title }
      }
    })
  }


  <% if user_signed_in? && @room.user == current_user %>
    setInterval(updateTrack, 1000);
  <% end %>

// 4 - afficher le current track

 function updateTitle(){
  var myTitle = document.querySelector(".track-playing");
  let title = player.getVideoData().title;
  myTitle.innerText = title.substring(0, 43) + (title.length > 44 ? '...' : '');
  };

setInterval(function(){
  updateTitle();
  }, 2000);


// 5- chat messages
    App['room_<%= @room.id %>'] = App.cable.subscriptions.create({channel: 'RoomsChannel', room_id: <%= @room.id %>}, {
      received: function(data) {
        // selectionner le messages container
        const messagesContainer = document.querySelector(".all-messages");
        // insertAdjacentHTML beforeend lemessage
        messagesContainer.insertAdjacentHTML("beforeend", data.message_partial);
        const messages = document.querySelectorAll('.message');
        // if (messages.length > 3) {
        //   messages[0].remove();
        // }
        var objDiv = document.querySelector(".all-messages");
        objDiv.scrollTop = objDiv.scrollHeight;

        <% if user_signed_in? %>
          if(data.current_user_id === <%= current_user.id %>) {
            // si le current user est celui qui a créé le message
            const input = document.querySelector("#message_content");
            input.value = '';
          }
        <% end %>
      }
    });
  </script>
<% end %>
