<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
    <%= yield_with_default(:title, "WeeSound - Stream your music directly to your fans") %>
    </title>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="description" content="Weesound, the reference live service for influencers. Let your fans chat with you and listen to your music in live">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  </head>
  <body id="<%= yield (:body_id) %>">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>

  </body>
</html>
